@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: 'Times New Roman',  serif;
    src: url(TimesnewRoman\timesnewromanbold.ttf);
 }

 *{
    margin: 0px;
    box-sizing: border-box;
}

 /* Registration */

 .Registration-1{
    background-image:url('../image/Registration-banner.svg') ;
    background-repeat: no-repeat;
    background-size: cover;
 }

 h1{
   font-family: 'Times New Roman',  serif;
   font-size: 38px;
   font-weight: 600;
   color: rgba(244, 178, 5, 1);
   padding-bottom: 42px;
 }

 #reg{
    /* display: block; */
    padding: 18px 20px;
    width: 553px;
    background-color:rgba(52, 52, 52, 1);
    border: 1px solid white;
    margin-bottom: 16px;
   border-radius: 5px;
   font-family: "Lato", sans-serif;
   font-size:18px;
   font-weight: 400;
   color: rgba(222, 222, 222, 1);
 }

 .Registration-main-div{
   background-color:'';
   background:linear-gradient(to right, rgba(52, 52, 52, 1), rgba(52, 52, 52, 1)) ;
   width: 655px;
   padding: 80px 52px;
   border-top-right-radius:80px ;
   border-bottom-right-radius:80px ;
 }

 button{
   /* display: block; */
   padding: 10px 239px;
   background-color: rgba(244, 178, 5, 1);
   border-radius: 5px;
   border: none;
   font-family: "Lato", sans-serif;
   font-size:18px;
   font-weight: 600;
   color: rgba(120, 0, 20, 1);
   margin-top: 39px;
 }

 .Gender{
   font-family: "Lato", sans-serif;
   font-size:15px;
   font-weight: 600;
   color: rgba(222, 222, 222, 1);
   padding-right: 20px;
 }

p{
   font-family: "Lato", sans-serif;
   font-size:18px;
   font-weight: 400;
   color: rgba(222, 222, 222, 1);
   padding-bottom: 10px;
}