
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: 'Times New Roman',  serif;
    src: url(TimesnewRoman\timesnewromanbold.ttf);
 }





*{
    margin: 0px;
    box-sizing: border-box;
}


ul{
    padding: 0px!important;
}
/* common-sec */
@media (min-width:1440px) {
    .container{
    max-width:1270px ;
    width: 1240px;
    margin: auto;  
    padding: 0px 15px;
    }
}

.cmn-btn{
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size:18px;
    font-weight: 600;
    color: rgba(120, 0, 20, 1);
    padding: 16px 50px;
    border-radius: 62px;
    background: linear-gradient(to right, rgba(244, 178, 5, 1), rgba(164, 119, 0, 1));
}

.cmn-para{
    font-family: "Lato", sans-serif;
    font-size:16px;
    font-weight: 400;
    color: white;
    line-height: 25px; 
}

.cmn-head{
    font-family: 'Times New Roman',  serif;
    font-size: 38px;
    font-weight: 600;
    color: rgba(244, 178, 5, 1);
}

.cmn-underline::after{
    content: '';
    width:80px;
    height:4px;
    display: block;
    border-radius: 500px;
    background-color: rgba(120, 0, 20, 1);
    margin: 6px 0px 30px 0px;
    }

    .cmn-underline-1::before{
        content: '';
        width:31px;
        height:4px;
        position: absolute;
        border-radius: 500px;
        background-color: rgba(244, 178, 5, 1);
        margin: 48px 0px 0px 85px;
        }




/* header-sec */

@media (max-width:767px) and (min-width:300px) {
    .nav-main-div{
        flex-wrap: wrap;
        text-align: center;

    }
    .nav-child-div{
        width: 100%;
        margin-top: 20px;
    }
    .banner-main-div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px 20px;
    }
}

.header-sec{
    background-image: url("../image/durvi\ fitness\ banner.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 54px 0px 174px 0px;
}

/* nav-sec */

.nav-main-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.nav-child-div ul{
    display: flex;
    justify-content: center;
}

.nav-child-div ul li{
    list-style: none;
    padding: 0px 10px;
}

.nav-child-div ul li a{
    text-decoration: none;
    color: white;
    font-family: "Kreon", serif;
    font-size: 18px;
    font-weight: 400px;
}

.nav-btn{
    text-decoration: none;
    color: rgba(120, 0, 20, 1);
    font-family: "Kreon", serif;
    font-size: 18px;
    font-weight: 400px;
    border-radius: 3px;
    padding: 8px 42px;
    background-color: rgba(244, 178, 5, 1);
}


/* banner-sec */

.banner-main-div{
    padding: 0px 10px;
}

.banner-main-div h1{
    color: white;
    font-family: 'Times New Roman',  serif;
    font-size: 72px;
    font-weight: 600;
    max-width: 623px;
    padding: 160px 0px 30px 0px;
}

.banner-main-div span{
    color: rgba(244, 178, 5, 1);
}

.banner-main-div p{
    font-family: "Lato", sans-serif;
    font-size:16px;
    font-weight: 700;
    color: white;
    max-width: 600px;
    padding-bottom: 47px;
}

.banner-main-div a{
    text-decoration: none;
}


/* Our Story */

@media (max-width:767px) and (min-width:300px){
    .story-main-div{
        flex-wrap: wrap;
    }
    .story-child-div{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
}

/* .play{
    width: 60px;
    height: 60px;
    position: absolute;
margin: 135px 0px 0px -285px;
}

.fa-play{
    padding: 21px 23px;
    background-color: rgba(244, 178, 5, 1);
    color: rgba(120, 0, 20, 1);
    font-size: 30px;
    border-radius: 50%;
    position: absolute;
   margin: 125px 0px 0px 255px;
} */


.story-sec{
    
    padding: 80px 0px 76px 0px;
    background: linear-gradient(to right, rgba(52, 52, 52, 1), rgba(25, 21, 18, 0.7));
}

.story-child-div h2{
   padding-top: 42px;
}

.story-main-div{
    display: flex;
}


.story-child-div{
    width: 100%;
    padding:0px 10px;
}

.story-child-div img{
    width: 100%;
}

.story-child-div p{
    font-family: "Lato", sans-serif;
    font-size:16px;
    font-weight: 400;
    color: white;
    line-height: 25px; 
    max-width: 572px;
    padding-bottom: 42px;
}

.story-child-div a{
    text-decoration: none;
}


/* Why Choose Us */

@media (max-width:991px) and (min-width:767px){
    .choose-main-div{
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 30px;
    }
    .choose-child-div{
        width: 50%;
    }
    .choose-top-div{
        display: flex;
        justify-content: center;
    }
}

@media (max-width:767px) and (min-width:300px){
    .choose-main-div{
        flex-wrap: wrap;
        padding-left: 30px;
    }
    .choose-child-div{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .choose-top-div{
        display: flex;
        justify-content: center;
    }
}


.choose-sec{
    background-image: url('../image/choose-banner.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 80px 0px 10px 0px;
}

.choose-top-div{
    padding: 0px 10px;
}

.choose-main-div{
    display: flex;
}

.choose-child-div{
    padding:0px 30px 0px 10px;
}

.choose-child-div img{
    width: 100%;
}

.choose-inner-child{
    display: flex;
}

.choose-inner h3{
    font-family: "Lato", sans-serif;
    font-size:22px;
    font-weight: 500;
    color: white;
}

.choose-inner p{
    font-family: "Lato", sans-serif;
    font-size:16px;
    font-weight: 400;
    color: white;
    line-height: 22px;
    max-width: 324px;
    padding: 5px 0px 20px 0px;
}

.choose-inner img{
    width: 35px;
    margin: 0px 20px 100px 0px;
}

.choose{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}


/* Our Classes */

@media (max-width:991px) and (min-width:767px){
    .Classes-main-div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .Classes-child-div{
        width: 50%;
        margin-top: 30px;
    }
    .Classes-top-div{
        display: flex;
        justify-content: center;
    }
}

@media (max-width:767px) and (min-width:300px){
    .Classes-main-div{
        flex-wrap: wrap;
        padding-left: 50px;
    }
    .Classes-child-div{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }
    .Classes-top-div{
        display: flex;
        justify-content: center;
    }
}

.Classes-top-div{
    padding: 0px 10px;
}


.Classes-sec{
    background: linear-gradient(to right, rgba(25, 21, 18, 0.7), rgba(52, 52, 52, 1));
    padding: 81px 0px 60px 0px;
}

.Classes-main-div{
    display: flex;
}

.Classes-child-div{
    min-width: 33%;     
    padding: 0px 50px 0px 10px;
    text-align: center;
}

.Classes-child-div p{
    max-width: 346px;
    font-family: "Lato", sans-serif;
    font-size:16px;
    font-weight: 400;
    color: white;
    text-align: justify;
    
}

.Classes-child-div img{
    width: 100%;
    padding: 35px 46px 89px 46px;
    border-radius: 5px;
    border: 1px solid rgba(198, 198, 198, 1);
}

.Classes-child-div h3{
    margin-top: -60px;
    font-family: "Lato", sans-serif;
    font-size:30px;
    font-weight: 600;
    color: rgba(244, 178, 5, 1);
}

/*card-sec*/

@media (max-width:767px) and (min-width:300px){
    .card-main-div{
        flex-wrap: wrap;
    }
    .card-child-div{
        width: 50%;
    }
}

.card-sec{
    padding: 80px 10px;
    background-image:linear-gradient( to right , rgba(0, 0, 0, 0.8), rgba(121, 121, 121, 0.8)) , url('../image/card-banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-main-div{
    display: flex;
}

.card-child-div{
    min-width: 25%;
    text-align: center;
}

.card-child-div span{
    display: block;
    font-family: "Lato", sans-serif;
    font-size:38px;
    font-weight: 800;
    color: white;
    padding: 15px 0px 8px 0px;
}

.card-child-div h2{
    font-family: "Lato", sans-serif;
    font-size:22px;
    font-weight: 700;
    color: white;
}

/* Meat Our Trainers */

@media (max-width:767px) and (min-width:300px){
    .Trainers-main-div{
        flex-wrap: wrap;
    }
    .Trainers-child-div{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-top: 40px;
    
    }
}

.Trainers-sec{
    background: linear-gradient(to right, rgba(25, 21, 18, 0.7), rgba(52, 52, 52, 1));
    padding: 80px 0px 60px 0px;
}

.Trainers-main-div{
    display: flex;
}

.Trainers-child-div{
    min-width: 50%;
    padding: 0px 10px;
}

.Trainers-child-div img{
    width: 100%;
}

.Trainers-child-div p{
    max-width: 556px;
    padding-bottom: 42px;
}

/* Choose Your Plan */

@media (max-width:991px) and (min-width:767px){
    .plan-main-div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .plan-child-div{
        width: 48%;
        margin-bottom: 30px;
    }
    .plan-top-div{
        display: flex;
        justify-content: center;
    }
}

@media (max-width:767px) and (min-width:300px){
    .plan-main-div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .plan-child-div{
        width: 100%;
        margin-top: 30px;
    }
    .plan-top-div{
        display: flex;
        justify-content: center;
    }
}

.plan-sec{
    padding: 80px 0px 58px 0px;
    background-image: url('../image/choose-banner.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.plan-main-div{
    display: flex;
}

.plan-child-div{
    background: linear-gradient(to bottom, rgba(132, 132, 132, 1), rgba(52, 52, 52, 1));
    min-width: 24%;
    text-align: center;
    margin: 1px 6px;
    padding-bottom: 58px;
    border-radius: 5px;
    /* width: 295px; */
    /* height: 450px; */
}

.plan-child{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(244, 178, 5, 1));
}

.plan-child-div span{
    display: block;
}

.plan-child-div h2{
    font-family: "Lato", sans-serif;
    font-size:26px;
    font-weight: 800;
    color: rgba(244, 178, 5, 1);
    padding: 50px 0px 25px 0px;
}

.span-1{
    font-family: "Lato", sans-serif;
    font-size:60px;
    font-weight: 800;
    color: rgba(244, 178, 5, 1);
}

.plan-child-div p{
    font-family: "Lato", sans-serif;
    font-size:16px;
    font-weight: 400;
    color:white;
    line-height: 25px;
    padding: 50px 0px 37px 0px;
}


.plan-btn{
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size:18px;
    font-weight: 600;
    color: rgba(244, 178, 5, 1);
    background-color: rgba(120, 0, 20, 1);
    padding: 16px 50px;
    border-radius: 62px;
     
}

.span-2{
    font-family: "Lato", sans-serif;
    font-size:18px;
    font-weight: 600;
    color:white;
    line-height: 25px; 
    padding-top: 5px;
}

/* What Clients Say */


@media (max-width:991px) and (min-width:767px){
    .Clients-main-div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .Clients-child-div{
        width: 100%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 60px;
    }
}

@media (max-width:767px) and (min-width:300px){
    .Clients-main-div{
        flex-wrap: wrap;
        justify-content: center;
    }
    .Clients-child-div{
        width: 100%;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-top: 60px;
    }

    .Clients{
        max-width: 100%;
    }
    .Clients-child-div img{
        max-width: 100%;
    }

  
}



.Clients-sec{
    background: linear-gradient(to right, rgba(89, 86, 84, 1), rgba(53, 53, 53, 1));
    padding: 80px 0px 62px 0px;
   position: relative;
   z-index: -2;
}

.Clients-main-div{
    display: flex;
}

.Clients-child-div{
    min-width: 50%;
    padding: 0px 50px 0px 10px;
}

.Clients-child-div p{
    width: 556px;
    font-family: "Lato", sans-serif;
    font-size:16px;
    font-weight: 400;
    color:white;
    line-height: 25px;
    padding-bottom: 25px;
}

.Clients-child-div h3{
    font-family: "Lato", sans-serif;
    font-size:22px;
    font-weight: 600;
    color:white;
    line-height: 25px;
}

.Clients-child-div span{
    font-family: "Lato", sans-serif;
    font-size:16px;
    font-weight: 400;
    color:white;
    line-height: 25px;
    padding: 6px 0px;
    display: block;
}

.Clients-child-div img{
margin: 32px 0px 0px 33px;
border-radius: 5px;
width: 100%;
width: 570px;
}

.Clients{
    width: 555px;
    height: 503px;
    background:linear-gradient(to right, rgba(52, 52, 52, 1), rgba(25, 21, 18, 0.7));
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: 5px;
}

.fa-star{
    padding: 15px 0px 25px 0px;
    display: block;
    color: rgba(244, 178, 5, 1);
}

.icon{
    color: white;
    padding: 5px;
    border: 1px solid wheat;
    border-radius: 50%;
    font-size: 15px;
    margin-right: 8px;
}


/* footer-sec */


@media (max-width:767px) and (min-width:300px){
    .footer-main-div{
        flex-wrap: wrap;
        text-align: center;
    }
    .footer-child-div{
        width: 100%;
        margin-top: 20px;
    }
    .footer-top-div{
        text-align: center;
    }

}



.footer-sec{
    background-image: url('../image/footer.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px 60px 0px;
}

.footer-top-div img{
    padding-bottom: 40px;
}


.footer-main-div{
    display: flex;
}

.footer-child-div{
    min-width: 33.33%;
    padding: 0px 10px;
}

.footer-child-div ul li{
    list-style: none;
    font-family: "Lato", sans-serif;
    font-size:16px;
    font-weight: 700;
    color:white;
    line-height: 25px;
    padding: 13px 0px;
}

.footer-child-div a{
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size:16px;
    font-weight: 700;
    color:white;
    line-height: 25px;
}

.time{
    display:inline-block !important;
    color: rgba(244, 178, 5, 1) !important;
}

.footer-child-div span{
    font-family: "Lato", sans-serif;
    font-size:22px;
    font-weight: 600;
    color:white;
    line-height: 25px;
    display: block;
    padding-bottom: 30px;
}

.Lorem{
    padding: 5px 0px !important;
}

.fa-phone{
    color: rgba(244, 178, 5, 1);
    padding-right: 10px;
    font-size: 30px;
}


.fa-envelope{
    color: rgba(244, 178, 5, 1);
    padding-right: 10px;
    font-size: 30px;
}

.fa-location-arrow{
   position: absolute;
    color: rgba(244, 178, 5, 1); 
    padding:7px 10px 0px 0px;
    font-size: 30px;
}

.sabbir {
    color: white;
    padding: 25px 20px 0px 0px;
    border-radius: 50%;
    font-size: 15px;
}


.footer-bottom-div{
    text-align: center;
    padding: 93px 0px 73px 0px;
    font-family: "Lato", sans-serif;
    font-size:22px;
    font-weight: 600;
    color:white;
    line-height: 25px;
}

.footer-bottom-div::after{
    content: '';
    width: 600px;
    height: 2px;
    position: absolute;
    background-color: white;
  margin: 30px 0px 0px -520px;
}



.footer-2{
    background-color:rgba(244, 178, 5, 1) ;
    padding: 22px 0px;
}


.footer-2-main-div{
    text-align: center;
    color: rgba(120, 0, 20, 1);
}


